/* cyrillic-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v35/0QI6MX1D_JOuGQbT0gvTJPa787weuxJMkq1umA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v35/0QI6MX1D_JOuGQbT0gvTJPa787weuxJFkq1umA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* math */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v35/0QI6MX1D_JOuGQbT0gvTJPa787weuxI9kq1umA.woff2) format('woff2');
    unicode-range: U+0302-0303, U+0305, U+0307-0308, U+0330, U+0391-03A1, U+03A3-03A9, U+03B1-03C9, U+03D1, U+03D5-03D6, U+03F0-03F1, U+03F4-03F5, U+2034-2037, U+2057, U+20D0-20DC, U+20E1, U+20E5-20EF, U+2102, U+210A-210E, U+2110-2112, U+2115, U+2119-211D, U+2124, U+2128, U+212C-212D, U+212F-2131, U+2133-2138, U+213C-2140, U+2145-2149, U+2190, U+2192, U+2194-21AE, U+21B0-21E5, U+21F1-21F2, U+21F4-2211, U+2213-2214, U+2216-22FF, U+2308-230B, U+2310, U+2319, U+231C-2321, U+2336-237A, U+237C, U+2395, U+239B-23B6, U+23D0, U+23DC-23E1, U+2474-2475, U+25AF, U+25B3, U+25B7, U+25BD, U+25C1, U+25CA, U+25CC, U+25FB, U+266D-266F, U+27C0-27FF, U+2900-2AFF, U+2B0E-2B11, U+2B30-2B4C, U+2BFE, U+FF5B, U+FF5D, U+1D400-1D7FF, U+1EE00-1EEFF;
  }
  /* symbols */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v35/0QI6MX1D_JOuGQbT0gvTJPa787weuxIvkq1umA.woff2) format('woff2');
    unicode-range: U+0001-000C, U+000E-001F, U+007F-009F, U+20DD-20E0, U+20E2-20E4, U+2150-218F, U+2190, U+2192, U+2194-2199, U+21AF, U+21E6-21F0, U+21F3, U+2218-2219, U+2299, U+22C4-22C6, U+2300-243F, U+2440-244A, U+2460-24FF, U+25A0-27BF, U+2800-28FF, U+2921-2922, U+2981, U+29BF, U+29EB, U+2B00-2BFF, U+4DC0-4DFF, U+FFF9-FFFB, U+10140-1018E, U+10190-1019C, U+101A0, U+101D0-101FD, U+102E0-102FB, U+10E60-10E7E, U+1D2C0-1D2D3, U+1D2E0-1D37F, U+1F000-1F0FF, U+1F100-1F1AD, U+1F1E6-1F1FF, U+1F30D-1F30F, U+1F315, U+1F31C, U+1F31E, U+1F320-1F32C, U+1F336, U+1F378, U+1F37D, U+1F382, U+1F393-1F39F, U+1F3A7-1F3A8, U+1F3AC-1F3AF, U+1F3C2, U+1F3C4-1F3C6, U+1F3CA-1F3CE, U+1F3D4-1F3E0, U+1F3ED, U+1F3F1-1F3F3, U+1F3F5-1F3F7, U+1F408, U+1F415, U+1F41F, U+1F426, U+1F43F, U+1F441-1F442, U+1F444, U+1F446-1F449, U+1F44C-1F44E, U+1F453, U+1F46A, U+1F47D, U+1F4A3, U+1F4B0, U+1F4B3, U+1F4B9, U+1F4BB, U+1F4BF, U+1F4C8-1F4CB, U+1F4D6, U+1F4DA, U+1F4DF, U+1F4E3-1F4E6, U+1F4EA-1F4ED, U+1F4F7, U+1F4F9-1F4FB, U+1F4FD-1F4FE, U+1F503, U+1F507-1F50B, U+1F50D, U+1F512-1F513, U+1F53E-1F54A, U+1F54F-1F5FA, U+1F610, U+1F650-1F67F, U+1F687, U+1F68D, U+1F691, U+1F694, U+1F698, U+1F6AD, U+1F6B2, U+1F6B9-1F6BA, U+1F6BC, U+1F6C6-1F6CF, U+1F6D3-1F6D7, U+1F6E0-1F6EA, U+1F6F0-1F6F3, U+1F6F7-1F6FC, U+1F700-1F7FF, U+1F800-1F80B, U+1F810-1F847, U+1F850-1F859, U+1F860-1F887, U+1F890-1F8AD, U+1F8B0-1F8B1, U+1F900-1F90B, U+1F93B, U+1F946, U+1F984, U+1F996, U+1F9E9, U+1FA00-1FA6F, U+1FA70-1FA7C, U+1FA80-1FA88, U+1FA90-1FABD, U+1FABF-1FAC5, U+1FACE-1FADB, U+1FAE0-1FAE8, U+1FAF0-1FAF8, U+1FB00-1FBFF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v35/0QI6MX1D_JOuGQbT0gvTJPa787weuxJOkq1umA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v35/0QI6MX1D_JOuGQbT0gvTJPa787weuxJPkq1umA.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lora/v35/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkq0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lqDY.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNK7lqDY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qO67lqDY.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qN67lqDY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lqDY.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmhduz8A.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxduz8A.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmxduz8A.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlBduz8A.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmBduz8A.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwmRduz8A.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmhduz8A.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwkxduz8A.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmxduz8A.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlBduz8A.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmBduz8A.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwmRduz8A.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v22/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  *, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor
}

:before, :after {
    --tw-content: ""
}

html, :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Source Sans Pro, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    line-height: inherit
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1, h2, h3 {
    font-size: inherit;
    font-weight: inherit
}



b, strong {
    font-weight: bolder
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

h1, h2, h3, hr, p {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

:disabled {
    cursor: default
}

img, svg {
    display: block;
    vertical-align: middle
}

img {
    max-width: 100%;
    height: auto
}

*, :before, :after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

.page-template-gutenberg main>ul li *::marker, .page-template-gutenberg main>ol li *::marker, .product-template-gutenberg main>ul li *::marker, .product-template-gutenberg main>ol li *::marker {
    color: #444
}

.page-template-gutenberg main>ul li::marker, .page-template-gutenberg main>ol li::marker, .product-template-gutenberg main>ul li::marker, .product-template-gutenberg main>ol li::marker {
    color: #444
}

.wp-block-columns ul li *::marker, .wp-block-columns ol li *::marker {
    color: #444
}

.wp-block-columns ul li::marker, .wp-block-columns ol li::marker {
    color: #444
}
.nice-select .list:hover .option:not(:hover) {
    background-color: rgba(0, 0, 0, 0) !important
}

.single-product__content ul li, .single-product__content p, .wysiwyg ul li, .wysiwyg p, .related-products__subtitle, .mantel__detail-desc p, p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400
}

.single-product__content .wp-caption .wp-caption-text, .single-product__content p strong, .single-product__content h3, .single-product__content h2, .wysiwyg h3, .wysiwyg h2, .title-bar__text, .related-products__title, .mantel__wrap--product .mantel__link, .mantel__wrap--product .mantel__detail-title, .mantel__detail-title, .link-column__list li, .content-insert__copy-button, .content-insert__copy-title {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600
}

.related-products__page-link-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700
}

/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

section {
    display: block
}


a:active, a:hover {
    outline-width: 0
}

b, strong {
    font-weight: inherit
}

b, strong {
    font-weight: bolder
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    max-width: 100%;
    height: auto;
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

html, body {
    font-size: 16px
}

body {
    background: #fff;
    color: #444;
    font-weight: 400;
    line-height: 1.4
}

h1 {
    color: #444;
    font-size: 2.5rem;
    font-weight: 700
}

h2 {
    color: #444;
    font-size: 2rem;
    font-weight: 700
}

h3 {
    color: #444;
    font-size: 1.5rem;
    font-weight: 700
}

p {
    margin-bottom: 20px
}




strong {
    font-weight: 700
}

.page-container {
    max-width: 1120px;
    margin: 0 auto;
    padding-right: 8px;
    padding-left: 8px;
    background: #fff
}

@media(min-width: 700px) {
    .page-container {
        padding-right: 16px;
        padding-left: 16px
    }
}

.page-container--slim {
    max-width: 770px
}

.page-container--full-bleed {
    padding-right: 0;
    padding-left: 0
}

.page-container--full-width {
    width: 100%;
    max-width: 100%
}

p {
    color: #444;
    font-size: .875rem;
    line-height: 1.3
}


p a:hover {
    text-decoration: none
}

.content-insert {
    background-color: #f2f3f3;
    padding: 30px 0
}

.content-insert__wrap {
    width: 100%;
    max-width: 770px;
    padding: 0 25px;
    box-sizing: border-box;
    margin: 0 auto
}

.content-insert__interior {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column
}

@media(min-width: 700px) {
    .content-insert__interior {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-flow: row;
        flex-flow: row
    }
}

.content-insert__image {
    margin: 0 0 15px 0
}

@media(min-width: 700px) {
    .content-insert__image {
        margin: 0 25px 0 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

    .content-insert__image img {
        height: auto;
        width: 220px
    }

    @supports(object-fit: cover) {
        .content-insert__image img {
            height: 220px;
            object-fit: cover
        }
    }
}

.content-insert__image img {
    display: block
}

.content-insert__copy-title {
    font-size: 1.3125rem;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #444
}

.content-insert__copy-desc {
    font-size: 1.0625rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 14px
}

.content-insert__copy-button {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #d21e28;
    background-color: rgba(210, 30, 40, 0);
    color: #d21e28;
    font-size: 1.25rem;
    line-height: 1;
    text-decoration: none;
    transition: background-color .125s, color .125s
}

.content-insert__copy-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #d21e28
}

.link-column__list {
    margin: 0;
    padding: 0
}

@media(max-width: 979px) {
    .link-column__list {
        margin: 24px 0 0 0
    }
}

.link-column__list li {
    list-style-type: none;
    position: relative;
    padding-left: 19px;
    font-size: 1.0625rem;
    line-height: 1.3;
    color: #d21e28
}

.link-column__list li a {
    text-decoration: none
}

.link-column__list li a:hover {
    text-decoration: underline
}

.link-column__list li:not(:last-child) {
    margin-bottom: 14px
}

.link-column__list li:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 5px;
    height: 10px;
    background-image: url(../img/red-triangle.svg);
    background-size: cover
}

.link-column__list li {
    color: #000;
    font-weight: 400
}

.link-column__list li:before {
    top: 4px;
    width: 8px;
    height: 16px
}

.link-column__list li:not(:last-child) {
    margin-bottom: 8px
}

.link-column__list li.link-column__list-item--pdf {
    padding-left: 22px
}

.link-column__list li.link-column__list-item--pdf:before {
    width: 14px;
    height: 16px;
    background-image: url(../img/pdf-icon.svg) !important
}

.link-column__list li a {
    color: #ed1c24
}

.link-column__list li a:hover {
    text-decoration: underline
}

.mantel {
    position: relative;
    margin-top: 100px;
    
}

.mantel__image {
    width: 100%;
    vertical-align: bottom
}

.mantel__detail {
    margin: -7% 12px 0;
    position: relative;
    z-index: 20;
    background-color: #fff;
    padding-top: 24px;
    padding-right: 20px;
    padding-left: 20px
}

.mantel__detail-title {
    position: relative;
    text-align: center;
    color: #ed1c24;
    font-size: 1.75rem;
    line-height: 1;
    margin: 0 0 20px 0
}

.mantel__detail-desc {
    padding: 20px 16px 0;
    text-align: center
}

.mantel__detail-desc p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5
}

.mantel__detail:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #ed1c24
}

@media(min-width: 700px) {
    .mantel__detail {
        margin: -7% auto 0
    }
}

@media(min-width: 700px) {
    .mantel__detail {
        min-height: 55px
    }

    .mantel__detail-title {
        font-size: 1.625rem
    }

    .mantel__detail-desc {
        padding: 10px 62px 0
    }

    .mantel__detail-desc p {
        font-size: 1.0625rem
    }
}

@media(min-width: 700px)and (max-width: 980px) {
    .mantel__detail {
        display: inline-block;
        width: auto;
        left: 50%;
        right: auto;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        min-height: 0
    }

    .mantel__detail-desc {
        display: none
    }
}

@media(min-width: 980px) {
    .mantel__detail {
        width: 71.4285714286%
    }

    .mantel__detail-title {
        font-size: 1.6875rem
    }
}

.mantel__wrap--product {
    margin-bottom: 40px
}

@media(max-width: 699px) {
    .mantel__wrap--product .mantel__detail-image {
        display: none
    }
}

@media(max-width: 699px) {
    .mantel__wrap--product .mantel__interior .mantel__detail-image {
        display: none
    }
}

@media(min-width: 700px) {
    .mantel__wrap--product .mantel__interior {
        padding: 20px
    }
}

.mantel__wrap--product .mantel__detail-image {
    max-width: 284px;
    width: 100%
}

.mantel__wrap--product .mantel__detail-image img {
    width: 100%;
    vertical-align: bottom
}

@media(min-width: 700px) {
    .mantel__wrap--product .mantel__detail-image {
        margin-right: 54px
    }
}

@media(max-width: 699px) {
    .mantel__wrap--product .mantel__detail-image {
        margin: 0 auto
    }
}

.mantel__wrap--product .mantel__detail-title {
    text-align: left;
    font-size: 2.0625rem;
    color: #ed1c24
}

@media(max-width: 699px) {
    .mantel__wrap--product .mantel__detail-title {
        text-align: center
    }
}

.mantel__wrap--product .mantel__detail-desc {
    text-align: left;
    padding: 0;
    margin-bottom: 16px;
    font-size: 1.0625rem
}

.mantel__wrap--product .mantel__content .mantel__detail-image {
    display: none
}

@media(max-width: 699px) {
    .mantel__wrap--product .mantel__content {
        text-align: center
    }

    .mantel__wrap--product .mantel__content .mantel__detail-image {
        display: block
    }
}

.mantel__wrap--product .mantel__link {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ed1c24;
    background-color: rgba(255, 255, 255, 0);
    color: #ed1c24;
    font-size: 1.25rem;
    line-height: 1;
    text-decoration: none;
    transition: background-color .125s, color .125s;
    display: inline-block
}

.mantel__wrap--product .mantel__link:hover {
    cursor: pointer;
    color: #fff;
    background-color: #ed1c24
}

@media(min-width: 700px) {
    .mantel__wrap--product {
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 50px;
        margin-bottom: 0
    }

    .mantel__wrap--product .mantel__interior {
        display: -ms-flexbox;
        display: flex;
        padding: 20px 68px 0
    }
}

@media(min-width: 700px) {
    .mantel__wrap--product .mantel__detail {
        width: 85.9821428571%
    }
}

@media(min-width: 700px)and (max-width: 980px) {
    .mantel__wrap--product .mantel__detail-desc {
        display: block
    }
}


.page-section:not(:last-of-type) {
    margin-bottom: 16px
}

@media(min-width: 700px) {
    .page-section:not(:last-of-type) {
        margin-bottom: 48px
    }
}

.page-section--bg-grey {
    background-color: #f2f3f3
}

.related-products {
    padding: 30px 0
}

.related-products__title {
    text-align: center;
    color: #444;
    font-size: 1.5625rem
}

.related-products__subtitle {
    font-size: 1.0625rem;
    text-align: center;
    color: #444;
    margin-top: 4px
}

.related-products__page-link {
    text-align: center;
    margin-top: 30px
}

.related-products__page-link a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #ed1c24;
    text-decoration: none
}

.related-products__page-link-text {
    font-size: 1.6875rem;
    margin-right: 14px
}

.related-products__page-link-arrow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 13px
}

.related-products__page-link-arrow svg {
    fill: currentColor
}

@media(min-width: 700px) {
    .related-products {
        padding: 64px 0 96px 0
    }

    .related-products__page-link {
        margin-top: 64px
    }
}


.title-bar__wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #d21e28;
    padding-bottom: 10px;
    margin-bottom: 24px
}

@media(min-width: 980px) {
    .title-bar__wrap {
        margin-bottom: 32px
    }
}

.title-bar__text {
    font-size: 1.3125rem;
    line-height: 1.125;
    color: #444
}

@media(min-width: 980px) {
    .title-bar__text {
        font-size: 1.5625rem
    }
}

.wysiwyg h2 {
    font-size: 1.75rem;
    color: #444;
    margin: 0 0 8px
}

.wysiwyg h3 {
    font-size: 1.375rem;
    color: #444;
    margin: 0 0 8px
}

.wysiwyg p {
    font-size: 1.0625rem;
    color: #444;
    line-height: 1.6;
    margin: 0
}

.wysiwyg p:not(:last-child) {
    margin: 0 0 24px 0
}

.wysiwyg a {
    color: #ed1c24
}

.wysiwyg a:hover {
    text-decoration: underline
}

.wysiwyg img {
    vertical-align: bottom;
    max-width: 100%
}

.wysiwyg img.alignleft {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px
}

.wysiwyg img.alignright {
    float: right;
    margin-left: 12px;
    margin-bottom: 12px
}

.wysiwyg ul li {
    font-size: 1.0625rem;
    color: #444
}

.wysiwyg ul li::marker, .wysiwyg ol li::marker {
    color: #444
}

.wysiwyg ul li a {
    color: #ed1c24
}

.wysiwyg ul li a:hover {
    text-decoration: underline
}

.wysiwyg hr {
    margin: 25px 0
}

.wysiwyg .wp-caption {
    max-width: 100%
}

.additional-info {
    padding-top: 150px;
    margin-top: -150px;
    background-color: rgba(0, 0, 0, 0)
}

.additional-info .title-bar__wrap {
    margin-bottom: 0;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.additional-info .link-column {
    padding-top: 32px
}

.additional-info .hidden {
    display: none
}

.single-product {
    margin-bottom: 0 !important
}

.single-product__content h2 {
    font-size: 1.75rem;
    color: #444;
    margin: 0 0 8px
}

.single-product__content h3 {
    font-size: 1.375rem;
    color: #444;
    margin: 0 0 8px
}

.single-product__content p {
    font-size: 1.0625rem;
    line-height: 1.4;
    color: #444
}

.single-product__content p img {
    vertical-align: bottom;
    max-width: 100%
}

.single-product__content p img.alignleft {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px
}

.single-product__content p img.alignright {
    float: right;
    margin-left: 12px;
    margin-bottom: 12px
}

.single-product__content p:not(:last-child) {
    margin: 0 0 20px 0
}
  .box2{
    height: 4px;
    width: 1519px;
    background-color: rgb(0, 0, 0);
  }
  body{
      background: #f2f2f2;
      font-family: 'Open Sans', sans-serif;
    }
    .search {
      width: 100%;
      position: relative;
      display: flex;
    }
    
    .searchTerm {
      width: 100%;
      border: 3px solid black;
      border-right: none;
      padding: 5px;
      height: 36px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
    }
    
    .searchTerm:focus{
      color: #000000;
    }
    
    .searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid black;
      background: black;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
    
    /*Resize the wrap to see the search bar change!*/
    .wrap{
      width: 18%;
      position: absolute;
      bottom: 84%;
      left: 83%;
      transform: translate(-50%, -50%);
      padding-top: 70px;
      margin-left: 35px;
     }/*.navbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color:#8c1302;
        height: 80px;
        width: 1529px;
        margin-left: -10px;
      
      }
      .navbar > li {
        display: inline-block;
        position: relative;
      }
      .navbar > li > a {
        display: block;
        padding: 14px 20px;
        color: white;
        text-decoration: none;
        background-color:#8c1302;
        margin-top: 15px;
        font-size: 18px;
       margin-left: 90px;
      }
      .navbar > li > a:hover {
        background-color: #8c1302;
      } */
      .dropdown-menu {
        display: none;
        position:absolute;
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        top: 100%;
        left: 0;
        min-width: 160px;
        margin-left: 90px;
        
      }
      .dropdown-menu li {
        margin: 0;
      }
      .dropdown-menu li a {
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
      }
      .dropdown-menu li a:hover {
        background-color: #f0f0f0;
      }
      .navbar > li:hover .dropdown-menu {
        display: block;
      }
        .composite-layer{
            background-image: linear-gradient(to bottom,#8c1302,#f5707b);
            margin-left: 0px;
            height: 770px;
          }
          .c-footer__heading{
            color: white;
            font-weight: bolder;
            font-size: 20px;
            padding-top: 40px;
            padding-left: 112px;
          }
          .c-footer__item{
            padding-left: 110px;
            color: white;
            font-size: 18px;
            text-decoration: underline
          }
          .c-footer__group{
            padding-left: 400px;
          }
          .c-footer__container{
            padding-top: 50px;
            
          }
          .c-footer_container{
            height: 2px;
            width: 1300px;
            background-color: white;
            margin-top: 110px;
            margin-left: 110px;
          }
          .c-footer__container2{
            margin-top: 30px;
          }

          


