*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
 
   h4{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 720px;
   }
   .line5{
    height: 2px;
    background-color: #054343;
    width: 200px;
    margin-left: 660px;
   }
    .head{
      font-weight: lighter;
      margin-left: 2%;
    }
    .para{
      margin-top: 5%;
      margin-left: 80px;
      color: #486a7e;
      font-size: larger;
    } */
    .btn{
      margin-left: 70px;
      height: 40px;
      width: 40px;
      border-radius: 20px;
      border: none;
      background-color: #b6cfdf;
      margin-top: 22px;
    }
    .para1{
      margin-left: 120px;
      color: rgb(76, 76, 76);
      margin-top: -30px;
    }
    .box1{
      height: 50%;
      width: 100%;
      background-color: #ebf1f5;
      margin-top: 50px;
    }
    .line{
      height: 3px;
      background-color: white;
      width: 100%;
      margin-left: 0;
    }
    .head1{
      margin-left: 470px;
      margin-top: -150px;
      font-weight: lighter;
    }
    .para2{
      margin-left: 470px;
      color: rgb(76, 76, 76);
    }
    .anchor{
      margin-left: 0;
      text-decoration: brown;
      font-weight: bold;
      font: optional;
      color: #486a7e
    }
    .box3{
      height: 500px;
      width: 100%;
      background-color: #ffffff;
     display: flex;
    }
    .box3-1{
      padding: -20px;
      height: 500px;
      width: 300px;
    }
    .box3-2{
      height: 250px;
      width:250px ;
      background-color:#ebf1f5;
      margin-left: 25px;
      margin-top: -20px;
      border-radius: 0px 0px 0px 20px;
    }
    .head2{
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: lighter;
      color: #343434;
      margin-left: 10px;
      padding-top: 20px;
    }
    .para2{
      font-weight: lighter;
      color: #212121;
      margin-left: 10px;
    }
    .btn1{
      margin-left: 190px;
      height: 40px;
      width: 40px;
      border-radius: 20px;
      border: 1px solid white;
      color: white;
      background-color:#ebf1f5;
    }
    .btn1:hover{
      color: #486a7e;
      background-color: white;
      border: 1px solid #486a7e;
    }
    .btn2{
      height: 40px;
      width: 300px;
      margin-left: 170px;
      border: 2px solid #2450aa;
      border-radius: 10px;
      background-color: #2450aa;
      color: white;
      font-size: 20px;
    }
    .btn2:hover{
      background-color: white;
      color: #2450aa;
    }

    /* .box3-1{
      margin-left: -25px;
      height: 160px;
      width: 330px;
    } */

    .box3-1 img{
      height: 140px;
      width: 250px;
    }